.message
  .message__upper-info
    .message__upper-info__talker
      test-user
    .message__upper-info__date
      yyyyddmm hhmmss
  .message__text
    こんにちは！
.message
  .message__upper-info
    .message__upper-info__talker
      test-user
    .message__upper-info__date
      yyyyddmm hhmmss
  .message__text
    さようなら！
