.flash-box
  .notice
    グループを作成しました
.wrapper
  .chat-side
    .side-header
      .side-header__box
        .side-header__box__user-name
          test-user
        %ul.side-header__box__menu
          %li.side-header__box__menu__new-group
          =link_to "", class: "btn" do
            %i.fa.fa-edit
          %li.side-header__box__menu__edit-user
          =link_to "", class: "btn" do
            %i.fa.fa-cog
    .groups
      = render "group"
  .chat-main
    .main-header
    .messages
    .form